<!DOCTYPE html>
{% load static %}
{% load plotly_dash %}
<html>
  <head>
    <title>財報鳥</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
   <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
  </head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    #contents {
    position: relative;
    height: 700px;
}

    #dashboard {
    position: absolute;
    /*height: 1000px;*/
    padding-bottom: 5%;
    top: 14%;
  /*margin-top: 1%;
          margin-left: 30%;*/
    background-color: white;
}
    .icon {
        display: none;
        color: lightblue;
        font-size: 20px;
        }
    @media screen and (max-width: 1300px) {
      .links a.icon {float: left; display: block;}
}

</style>
  <script>
     window.onfocus = function(){ 
              window.location.reload(); }
     window.onload = function(){
          links = document.getElementById("link_div").getElementsByTagName('A');
          for (var i = 1; i < links.length; i++){
                    if(links[i].id == 'here'){
                        index = i;
                        break;
                          }
                }
          console.log(index);
          start = Math.min(index, 4);
          if (index >= 4){
                 neighbors = [4, 5, 6, 7];   
                }else{
                 neighbors = range(index, index+4);
                      }
          console.log(neighbors);
          if (innerWidth < 1300){
                show_abbrev_links(neighbors)
           }
          }
     function range(start, end){
        var arr = [];
        for (var i = start; i < end; i++){
                  arr.push(i)
              }
        return arr
            }
      function show() {
      var x = document.getElementsByClassName("same_trade")[0];
      console.log(x);
      console.log(x.style.display);
      if (x.style.display == "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
    
    function show_abbrev_links(name_lists){
        for(var i=1; i < links.length - 1; i ++){
            if (name_lists.includes(i)){
                links[i].style.display = 'block';}
                  else{links[i].style.display = 'none';}}}

    function turn_page(direction){
        if (direction == 1){ //往右翻
                start = Math.min(start + 1, 4);
              }else{ // 往左翻
                start = Math.max(start - 1, 1);
                    }
        var new_neighbors = range(start, start+4)
        show_abbrev_links(new_neighbors);
          }
    window.addEventListener('resize', function small_window(){
        if (innerWidth < 1300){
            show_abbrev_links(neighbors);}
        else{show_abbrev_links(range(1, 8));}
                                  })
  </script>
  <body style='background-color: aliceblue'>
    <div id="nav">
        <a href="/overview"><img class="logo" src="{% static "logo_bird.png" %}"></a>
            {#%include 'search_bar.html'%#}
        <div id="tools">
            <form action={% url 'price:posted_query' %} method="POST" target="_blank" style="display: inline-block; height: 100%;">
        {% csrf_token %}
            <input
            class="search_bar"
            type="text"
            name="stock_id"
            id="stock_code"
            placeholder="查詢台股代碼/公司名稱"
            list="query"
            style="font-size: 15px"/>
            <button class="icon_button" type="submit"><i class="fa fa-search"></i></button>
        <datalist id="query">
            {% for stock_name in stock_list %}
            <option value="{{stock_name}}">
            {% endfor %}
        </datalist>
        </form>
      <a href={%url 'index'%}><button class="icon_button"><i class="fa fa-home"></i></button></a>
    </div>
        <div class="links" id="link_div" >
            <a href="javascript:void(0);" class="icon" onclick="turn_page(-1)">
                <i class="fa fa-chevron-circle-left"></i></a>
            {% block link_list%}{% endblock%}  
            <a href="javascript:void(0);" class="icon" onclick="turn_page(1)">
                <i class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>
    <div id="contents">
      <div id="title">
        <h2>{{stock_id}}</h2>
        <div id="basic_info">
          <span><font color="darkcyan" onclick="show()">{{industry_type}}</font></span>
          <span>上市日期: {{listed_date}}</span>
          <div class="same_trade">
            <ul>
                {% block same_trade %}{% endblock %}
              <!--{#% for stock_name in same_trade%}
              <li class="companies">{{stock_name}}</li>
              {% endfor%#}-->
            </ul>
          </div>
        </div>
      </div>
        {% block main_content %}{% endblock %}
     </div>
    </div>
  </body>
</html>
