<!DOCTYPE html>
{% load static %}
{#% load plotly_dash %#}
<html>
  <head>
    <title>財報鳥</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
   <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <style>
     .ranking_table{
          height: 12%; 
          overflow:auto;
          margin-bottom: 3vh;
          font-size: 1vw;
      }
      .even{
          background-color: white
      }
      .odd{
          background-color: aliceblue;
      }
     
      #contents {
        /*position: relative;*/
        /*height: 1700px;*/
        height: 300vh;
      }
      #dashboard {
        /*position: absolute;*/
        width: 90%;
        height: 98%;
        margin-left: 5%;
        /*margin-top: 1%;
        left: 5%;
        top: 1%;*/
        text-align: center;
        background-color: white;
      }
      #date_label{
          position: absolute;
          right: 8%;
          padding-top: 5vh
      }
      table{
          width: 80%; 
          margin-left: 10%;
          table-layout: fixed;
      }
      h3{
          padding-top: 5vh;
      }
      td, th, tr{
          height: 3vh;
      }
    </style>
    <script>
        function change_color(element, status){
            if (status == 'on'){
                 element.style.backgroundColor = 'lightgray';
            }else{
                if (element.className == 'even'){
                    element.style.backgroundColor = 'white';
                    }
                else{
                    element.style.backgroundColor = 'aliceblue';                    }
                }
}
        function remove_li_color(){
             var links = document.getElementsByTagName("li");
            for (let i = 0; i < links.length; i++){
                links[i].style.backgroundColor = 'white';
                }
            }

        function move(this_element){
            if (this_element.id == "link1"){
                        window.scroll(0, 0);
            }else if(this_element.id == "link2") {
                    window.scroll(0, 1000);
            }else{
                    window.scroll(0, document.body.scrollHeight);
                    }
            remove_li_color();
            this_element.style.backgroundColor = 'aliceblue';
        }
        
//        console.log(window.outerHeight);
        window.addEventListener("scroll", function get_offset(){remove_li_color();
//        console.log(scrollY);
        ratio = scrollY/outerHeight
        if (ratio < 1){
            focused_li_id = 'link1';
        }else if (ratio >= 1 && ratio < 1.5){
            focused_li_id = 'link2';
        }else{
            focused_li_id = 'link3';
            }
        document.getElementById(focused_li_id).style.backgroundColor = 'aliceblue';})
    </script>
  </head>
  <body style="background-color: aliceblue;">
    <div id="nav">
        <a href="/overview"><img class="logo" src="{% static "logo_bird.png" %}"></a>    
    <div id='tools'> 
        <form action={% url 'price:posted_query' %} method="POST" target="_blank" style="display: inline-block; height: 100%">
        {% csrf_token %}
        <input
        class="search_bar"
        type="text"
        name="stock_id"
        id="stock_code"
        placeholder="查詢台股代碼/公司名稱"
        list="query"
        style="font-size: 15px"/>
        <button class="icon_button" type="submit"><i class="fa fa-search"></i></button>
    <datalist id="query">
        {% for stock_name in stock_list %}
        <option value="{{stock_name}}">
        {% endfor %}
    </datalist>

      </form>
      <a href={%url 'index'%}><button class="icon_button"><i class="fa fa-home"></i></button></a>
    </div>
      <ul class="links" style="width: 500px">
          <li id="link1" style="background-color: aliceblue" onclick="move(this)">漲跌排行</li>
         <li id="link2" onclick="move(this)">成交量排行</li>
         <li id="link3" onclick="move(this)">本益比排行</li>
      </ul>
    </div>
    <div id="contents">
      <div id="dashboard">
          <div id="date_label">資料時間: {{date}}</div>
        <h3 id="rise"><font color="red">漲幅排行</font></h3>
        <table style="position: sticky; top: 0;">
            <tr  style="background-color: aliceblue">
                <th>排名</th>
                <th>股名</th>
                <th>產業類別</th>
                <th>收盤價</th>
                <th>漲跌</th>
                <th>漲幅(%)</th>
                <th>成交量(張)</th>
                <th>本益比</th>
            </tr>
            </table>
        <div class="ranking_table">
            <table>
                {% for row, url_ in rise %}
                <tr class="{% cycle 'even' 'odd' %}" onclick="window.open('{{url_}}');" onmouseover="change_color(this, 'on')"
                    onmouseout="change_color(this, 'off')">
                    {% for value in row %}
                        <td>{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <h3><font color="green">跌幅排行</font></h3>
        <table style="position: sticky; top: 0;">
            <tr  style="background-color: aliceblue">
                <th>排名</th>
                <th>股名</th>
                <th>產業類別</th>
                <th>收盤價</th>
                <th>漲跌</th>
                <th>跌幅(%)</th>
                <th>成交量(張)</th>
                <th>本益比</th>
            </tr>
        </table> 
        <div class="ranking_table">
            <table>
                {% for row, url_ in drop %}
                <tr class="{% cycle 'even' 'odd' %}" onclick="window.open('{{url_}}');" onmouseover="change_color(this, 'on')"
                        onmouseout="change_color(this, 'off')">
                    {% for value in row %}
                        <td>{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <h3 id="volume"><font color="saddlebrown">類股漲跌排行</font></h3>
        <table style="position: sticky; top: 0;">
            <tr  style="background-color: aliceblue">
                <th>排名</th>
                <th>產業類別</th>
                <th>漲跌幅(%)</th>
                <th>成交量(張)</th>
                <th>上漲數量比例(%)</th>
                <th>下跌數量比例(%)</th>
            </tr>
        </table>
        <div class="ranking_table">
            <table>
                {% for row in  industry %}
                <tr class="{% cycle 'even' 'odd' %}">
                    {% for value in row %}
                        <td>{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
       <h3 id="volume"><font color="orange">成交量排行</font></h3>
        <table style="position: sticky; top: 0;">
            <tr  style="background-color: aliceblue">
                <th>排名</th>
                <th>股名</th>
                <th>產業類別</th>
                <th>收盤價</th>
                <th>漲跌</th>
                <th>漲跌幅(%)</th>
                <th>成交量(張)</th>
                <th>本益比</th>
            </tr>
        </table>
        <div class="ranking_table">
            <table>
                {% for row, url_ in volume %}
                <tr class="{% cycle 'even' 'odd' %}" onclick="window.open('{{url_}}');" onmouseover="change_color(this, 'on')"
                        onmouseout="change_color(this, 'off')">
                    {% for value in row %}
                        <td>{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <h3><font color="purple">本益比排行</font></h3>
        <table style="position: sticky; top: 0;">
            <tr  style="background-color: aliceblue">
                <th>排名</th>
                <th>股名</th>
                <th>產業類別</th>
                <th>收盤價</th>
                <th>漲跌</th>
                <th>跌幅(%)</th>
                <th>成交量(張)</th>
                <th>本益比</th>
            </tr>
        </table> 
        <div class="ranking_table">
            <table>
                {% for row, url_ in PE %}
                <tr class="{% cycle 'even' 'odd' %}" onclick="window.open('{{url_}}');" onmouseover="change_color(this, 'on')"
                        onmouseout="change_color(this, 'off')">
                    {% for value in row %}
                        <td>{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
     </div>
     </div>
    </div>
  </body>
</html>
