<!DOCTYPE html>
{% extends "base_dashboard.html"%} 
{% load plotly_dash %} 
{% block link_list %}
<li style="background-color: aliceblue">近期股價</li>
<li><a href="{{stock_info.get_profit_loss_url}}">損益表</a></li>
<li><a href="{{stock_info.get_asset_debt_url}}">資產負債表</a></li>
<li><a href="{{stock_info.get_cashflow_url}}">現金流量表</a></li>
<li><a href="{{stock_info.get_dividend_url}}">股利政策</a></li>
<li>相似性比較</li>
{% endblock %} {% block same_trade %} {% for stock_name in same_trade%}
<li class="companies">
  <a href="{{stock_name.get_price_url}}" target="_blank"
    ><font color="black">{{stock_name}}</font></a
  >
</li>
{% endfor%} {% endblock %} {% block main_content %}
<div id="left_section" style="width: 10%">
  <p>{{today_date}} 行情</p>
  <p>
    開
    <mark
      style="background-color:{{open_highlight_color}}; color:{{open_color}}"
      >{{open}}</mark
    >
  </p>
  <p>
    高
    <mark
      style="background-color:{{high_highlight_color}}; color: {{high_color}}"
      >{{high}}</mark
    >
  </p>
  <p>
    低
    <mark style="background-color:{{low_highlight_color}}; color: {{low_color}}"
      >{{low}}</mark
    >
  </p>
  <p>
    收
    <mark
      style="background-color:{{close_highlight_color}}; color: {{close_color}}"
      >{{close}}</mark
    >
  </p>
  <p>量(張) {{volume}}</p>
  <p>昨收 {{previous_close}}</p>
  <p>
    漲跌
    <font color="{{updown_color}}">{{updown}}</font>
  </p>
  <p>
    漲跌幅
    <font color="{{updown_color}}">{{amplitude}}%</font>
  </p>
  <p>本益比 {{PE}}</p>
  <p>(同業平均 {{PE_mean}})</p>
  {% if punishment_duration %}
  <p><mark style="background-color: black; color: white"> 處置</mark></p>
  <p>{{punishment_duration}}</p>
  {% endif %}
</div>
<div id="dashboard" style="width: 75%; left: 20%">
    <!--<div class="{#% plotly_class name='Price_Dashboard' %#}">-->
    {% plotly_app name='Price_Dashboard' ratio=1%}
  </div>
</div>
{%endblock %}
